
// main about page.
.about {
    width: 100%;
    height: auto !important;
    min-height: 100%;
    background-color: white;
}


.information {
    // background-color: yellow;
    width: 80vw;
    // background-color: chocolate;
    margin: 10vh auto;
    align-items: center;
    .title{
        display: flex;
        color: darkblue;
        font-weight: bolder;
        .emoji {
            display: flex;
            width: 80px;
            height: 80px;
            .icon{
                margin: auto;
            }
        }  
        .content {
            margin: auto 1vw;
        }
    }
}

