.Contact {
    margin: 0;
    padding: 0;
    background-color: brown;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    background-color: green;
    top: 0%;
}