* {
  padding: 0;
  margin: 0;
}

.App {
  background-color: pink;
  width: 100vw;
  height: 100vh;;
}



.sentence {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.word {
  color: yellowgreen;
  font-size: 4vw;
  font-weight: 900;
  /* position:absolute;
  top: 50%;
  left: 50%;
  */
  /* position: absolute; */
  /* left: calc(100vh / 100vh) */
}